body {
    margin: 0;
    padding: 0;
}

/* Navigation Bar Segment */
#navbar-container{
    height:120px;
    
}

nav{
    height: 200px;
}

.navbar{
    padding-bottom: 90px;
    padding-top:0px;
}

.navbar-brand{
    padding:0 !important;
    margin-right:0px !important;
    margin-left: 20px !important;
    margin-top: 20px !important;
}


.navbar-light .navbar-nav .nav-link {
    color: white;
    font-family: Roberto,sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    text-shadow: white;
    text-transform: uppercase;
}

.nav-item .nav-link:hover{
    color:black;
}

.faq-page-cover{
    background-image: url(/images/about/splash-background6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height:1000px;
}
/* Jumbotron Segment for Splash Screen */
.jumbotron{
    margin:0;
    height:700px;
    background-color:transparent;
}

.contact-splash-container{
    text-align: center;
    padding-top:30px;
}

.title-header-1{
    color: white;
    font-weight: 500;
    font-family: Roboto;
    font-size: 100px;
    font-style: normal;
    text-shadow: 4px 2px 6px rgba(0,0,0,0.2);
    margin-bottom: 0;
    margin-top: 10px;
}

main{
    background-color: rgb(216, 199, 184);
    height:2250px;
}
/* Segment for content for About Page */

.the-beginning{
    height:1400px;
    text-align: center;
    padding-left:250px;
    padding-right: 250px;
}

.beginning-title{
    font-family: Playfair Display ,sans-serif;
    font-weight: 800;
    padding-top: 30px;
    margin-bottom: 50px;

}

.beginning-content h4{
    font-family: Monserrat,sans-serif;
    margin-bottom: 50px;
}

.beginning-content p {
    font-family: Monserrat,sans-serif;
    font-weight: 200;
    font-size: 1.1rem;
}

.sketch-painting{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.sketch-painting img{
    height:70vh;
    width:100vh;
}
/* Award Segment and Content */
.image-landscape{
    background-image:url(/images/about/landscape.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width:auto;
    height:600px;
    padding-left:250px;
    padding-right:250px;
    padding-top:50px;
    margin-top:50px;
}
.image-content{
    display:flex;
    justify-content: center;
}
#content-container{
    background-color:rgba(255,255,255,0.7);
    height:450px;
    width:700px;
    padding: 80px;
  
}

.extra-background{
    text-align:center;
}

#awards-logo{
    height:150px;
    width:200px;
    align-items: center;
    margin-left: 150px;
}
/* Footer Segment */

.footer-container{
    width:auto;
    height:150px;
    padding-top: 20px;
}

.top-footer-container{
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}

.top-footer-container small{
    margin-top:10px;
}

.email-container{
    display:flex;
    flex-direction: row;
    margin-left: 600px;
}

.email-container input{
    width: 400px;
}

.bottom-footer-container{
    display: flex;
    flex-direction: row;
    padding-left: 240px;
}

.social-media-icons{
    margin-left: 500px;

}

.social-media-icons .fa{
        font-size: 30px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 2px 5px;
        
}

.social-media-icons .fa:hover{
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20%;
  }
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 20%;
  }

.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 20%;
  }
  
.fa-instagram {
    background: #125688;
    color: white;
    border-radius: 20%;
  }


  /* Media Queries for Various Sizes for About Page */
  /* Media Query for Small Phones */
@media only screen and (max-width:374px){
    body {
        margin: 0;
        padding: 0;
    }
    
    
    #navbar-container{
        height:150px;
        
    }
    
    nav{
        height: 200px;
    }
    
    .navbar{
        padding-bottom: 90px;
        padding-top:0px;
        padding-left:0px !important;
    }
    
    .navbar-brand{
        padding:0 !important;
        margin-right:0px !important;
        margin-left: 20px !important;
        margin-top: 20px !important;
    }

    .navbar-toggler{
        background-color:white !important;
        margin-top:60px !important;
        font-size: 2rem !important;
        margin-bottom: 60px !important;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-family: Roberto,sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: normal;
        text-shadow: white;
        text-transform: uppercase;
    }
    
    .nav-item .nav-link:hover{
        color:black;
    }
    
    .faq-page-cover{
        background-image: url(/images/about/splash-background6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height:1000px;
    }
    
    
    .jumbotron{
        margin:0;
        height:700px;
        background-color:transparent;
    }
    
    .contact-splash-container{
        text-align: center;
        padding-top:30px;
    }
    
    .title-header-1{
        color: white;
        font-weight: 500;
        font-family: Roboto;
        font-size: 100px;
        font-style: normal;
        text-shadow: 4px 2px 6px rgba(0,0,0,0.2);
        margin-bottom: 0;
        margin-top: 130px;
    }
    
    main{
        background-color: rgb(216, 199, 184);
        height:2550px;
    }
    
    .the-beginning{
        height:1500px;
        text-align: center;
        padding-left:0px;
        padding-right: 0px;
    }
    
    .beginning-title{
        font-family: Playfair Display ,sans-serif;
        font-weight: 800;
        padding-top: 30px;
        margin-bottom: 50px;
    
    }
    
    .beginning-content h4{
        font-family: Monserrat,sans-serif;
        margin-bottom: 50px;
    }
    
    .beginning-content p {
        font-family: Monserrat,sans-serif;
        font-weight: 200;
        font-size: 1.1rem;
    }
    
    .sketch-painting{
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }
    
    .sketch-painting img{
        height:30vh;
        width: 25vh;
    }
    
    .image-landscape{
        background-image:url(/images/about/landscape.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width:auto;
        height:800px;
        padding-left:160px;
        padding-right:250px;
        padding-top:50px;
        margin-top:0px;
    }
    .image-content{
        display:flex;
        justify-content: center;
    }
    #content-container{
        background-color:rgba(255,255,255,0.7);
        height:710px;
        width:300px;
        padding: 80px;
        padding-left: 20px !important;
    }

    #paragraph-container{
        padding:0px !important;
        padding-left: 25px !important;
    }
    
    .extra-background{
        text-align:center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #awards-logo{
        height:150px;
        width:200px;
        align-items: center;
        margin-left: 10px;
    }
    
    .footer-container{
        width:auto;
        height:150px;
        padding-top: 20px;
    }
    
    .top-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    
    .top-footer-container small{
        margin-top:10px;
    }
    
    .email-container{
        display:flex;
        flex-direction: row;
        margin-left: 35px;
    }
    
    .email-container input{
        width: 120px;
    }

    .email-box::-webkit-input-placeholder{
        font-size: 12px;
        padding-left: 25px;
    }
    
    .bottom-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 20px;
    }
    
    .social-media-icons{
        margin-left: 20px;
    
    }
    
    .social-media-icons .fa{
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            margin: 2px 5px;
            
    }
    
    .social-media-icons .fa:hover{
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 20%;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 20%;
      }
    
      .fa-youtube {
        background: #bb0000;
        color: white;
        border-radius: 20%;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
        border-radius: 20%;
      }
  }
/* Media Query for Medium Sized Phone for About Page */
@media only screen and (min-width:375px) and (max-width:767px){
    body {
        margin: 0;
        padding: 0;
    }
    
    
    #navbar-container{
        height:150px;
        
    }
    
    nav{
        height: 200px;
    }
    
    .navbar{
        padding-bottom: 90px;
        padding-top:0px;
        padding-left:0px !important;
    }
    
    .navbar-brand{
        padding:0 !important;
        margin-right:0px !important;
        margin-left: 20px !important;
        margin-top: 20px !important;
    }

    .navbar-toggler{
        background-color:white !important;
        margin-top:60px !important;
        font-size: 2rem !important;
        margin-bottom: 60px !important;
        margin-right: 0px !important;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-family: Roberto,sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: normal;
        text-shadow: white;
        text-transform: uppercase;
    }
    
    .nav-item .nav-link:hover{
        color:black;
    }
    
    .faq-page-cover{
        background-image: url(/images/about/splash-background6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height:1000px;
    }
    
    
    .jumbotron{
        margin:0;
        height:700px;
        background-color:transparent;
    }
    
    .contact-splash-container{
        text-align: center;
        padding-top:30px;
    }
    
    .title-header-1{
        color: white;
        font-weight: 500;
        font-family: Roboto;
        font-size: 100px;
        font-style: normal;
        text-shadow: 4px 2px 6px rgba(0,0,0,0.2);
        margin-bottom: 0;
        margin-top: 120px;
    }
    
    main{
        background-color: rgb(216, 199, 184);
        height:2300px;
    }
    
    .the-beginning{
        height:1450px;
        text-align: center;
        padding-left:0px;
        padding-right: 0px;
    }
    
    .beginning-title{
        font-family: Playfair Display ,sans-serif;
        font-weight: 800;
        padding-top: 30px;
        margin-bottom: 50px;
        margin-right: 30px;
    
    }
    
    .beginning-content h4{
        font-family: Monserrat,sans-serif;
        margin-bottom: 50px;
        margin-right: 30px;
    }
    
    .beginning-content p {
        font-family: Monserrat,sans-serif;
        font-weight: 200;
        font-size: 1.1rem;
        margin-right: 30px;
    }
    
    .sketch-painting{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-right: 35px;
    }
    
    .sketch-painting img{
        height:30vh;
        width: 25vh;
    }
    
    .image-landscape{
        background-image:url(/images/about/landscape.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width:auto;
        height:800px;
        padding-left:160px;
        padding-right:250px;
        padding-top:50px;
        margin-top:0px;
    }
    .image-content{
        display:flex;
        justify-content: center;
    }
    #content-container{
        background-color:rgba(255,255,255,0.7);
        height:710px;
        width:300px;
        padding: 80px;
        padding-left: 20px !important;
        margin-left: 50px;
    }

    #paragraph-container{
        padding:0px !important;
        padding-left: 25px !important;
    }
    
    .extra-background{
        text-align:center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #awards-logo{
        height:150px;
        width:200px;
        align-items: center;
        margin-left: 10px;
    }
    
    .footer-container{
        width:auto;
        height:150px;
        padding-top: 20px;
    }
    
    .top-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    
    .top-footer-container small{
        margin-top:10px;
    }
    
    .email-container{
        display:flex;
        flex-direction: row;
        margin-left: 20px;
    }
    
    .email-container input{
        width: 180px;
    }

    .email-box::-webkit-input-placeholder{
        font-size: 12px;
        padding-left: 8px;
    }
    
    .bottom-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    
    .social-media-icons{
        margin-left: 20px;
    
    }
    
    .social-media-icons .fa{
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            margin: 2px 5px;
            
    }
    
    .social-media-icons .fa:hover{
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 20%;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 20%;
      }
    
      .fa-youtube {
        background: #bb0000;
        color: white;
        border-radius: 20%;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
        border-radius: 20%;
      }
 
}

/* Media Query for Tablet Size for About Page  */
@media only screen and (min-width:768px) and (max-width:1439px){
    body {
        margin: 0;
        padding: 0;
    }
    
    
    #navbar-container{
        height:150px;
        
    }
    
    nav{
        height: 200px;
    }
    
    .navbar{
        padding-bottom: 90px;
        padding-top:0px;
        padding-left:0px !important;
    }
    
    .navbar-brand{
        padding:0 !important;
        margin-right:0px !important;
        margin-left: 20px !important;
        margin-top: 20px !important;
    }

    .navbar-toggler{
        background-color:white !important;
        margin-top:60px !important;
        font-size: 2rem !important;
        margin-bottom: 60px !important;
        margin-right: 0px !important;
    }
    
    
    .navbar-light .navbar-nav .nav-link {
        color: white;
        font-family: Roberto,sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        font-style: normal;
        text-shadow: white;
        text-transform: uppercase;
    }
    
    .nav-item .nav-link:hover{
        color:black;
    }
    
    .faq-page-cover{
        background-image: url(/images/about/splash-background6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
        height:1000px;
    }
    
    
    .jumbotron{
        margin:0;
        height:700px;
        background-color:transparent;
    }
    
    .contact-splash-container{
        text-align: center;
        padding-top:30px;
    }
    
    .title-header-1{
        color: white;
        font-weight: 500;
        font-family: Roboto;
        font-size: 100px;
        font-style: normal;
        text-shadow: 4px 2px 6px rgba(0,0,0,0.2);
        margin-bottom: 0;
        margin-top: 120px;
    }
    
    main{
        background-color: rgb(216, 199, 184);
        height:2000px;
    }
    
    .the-beginning{
        height:1050px;
        text-align: center;
        padding-left:0px;
        padding-right: 0px;
    }
    
    .beginning-title{
        font-family: Playfair Display ,sans-serif;
        font-weight: 800;
        padding-top: 30px;
        margin-bottom: 50px;
        margin-right: 30px;
    
    }
    
    .beginning-content h4{
        font-family: Monserrat,sans-serif;
        margin-bottom: 50px;
        margin-right: 30px;
    }
    
    .beginning-content p {
        font-family: Monserrat,sans-serif;
        font-weight: 200;
        font-size: 1.1rem;
        margin-right: 30px;
    }
    
    .sketch-painting{
        display: flex;
        justify-content: center;
        margin-top: 60px;
        margin-right: 35px;
    }
    
    .sketch-painting img{
        height:30vh;
        width: 25vh;
    }
    
    .image-landscape{
        background-image:url(/images/about/landscape.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width:auto;
        height:800px;
        padding-left:120px;
        padding-right:120px;
        padding-top:50px;
        margin-top:0px;
    }
    .image-content{
        display:flex;
        justify-content: center;
    }
    #content-container{
        background-color:rgba(255,255,255,0.7);
        height:600px;
        width:1000px;
        padding: 80px;
        padding-left: 20px !important;
        margin-left: 20px;
    }

    #paragraph-container{
        padding:0px !important;
        padding-left: 25px !important;
    }
    
    .extra-background{
        text-align:center;
        font-size: 15px;
        font-weight: bold;
    }
    
    #awards-logo{
        height:150px;
        width:200px;
        align-items: center;
        margin-left: 100px;
    }
        
    .footer-container{
        width:auto;
        height:150px;
        padding-top: 20px;
    }
    
    .top-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    
    .top-footer-container small{
        margin-top:10px;
    }
    
    .email-container{
        display:flex;
        flex-direction: row;
        margin-left: 300px;
    }
    
    .email-container input{
        width: 300px;
    }

    .email-box::-webkit-input-placeholder{
        font-size: 12px;
        padding-left: 8px;
    }
    
    .bottom-footer-container{
        display: flex;
        flex-direction: row;
        padding-left: 10px;
    }
    
    .social-media-icons{
        margin-left: 180px;
    
    }
    
    .social-media-icons .fa{
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            margin: 2px 5px;
            
    }
    
    .social-media-icons .fa:hover{
        opacity: 0.7;
    }
    
    .fa-facebook {
        background: #3B5998;
        color: white;
        border-radius: 20%;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
        border-radius: 20%;
      }
    
      .fa-youtube {
        background: #bb0000;
        color: white;
        border-radius: 20%;
      }
      
      .fa-instagram {
        background: #125688;
        color: white;
        border-radius: 20%;
      }
}